// Primary colors
	$hpe_green: rgb(1, 169, 130);
	//black
	//white

// Secondary Colors
	// Neutrals
		$slate: rgb(66, 85, 99);
		$bronze: rgb(128, 116, 110);
		$darkSteel: rgb(95, 122, 118);
		$charcoal: rgb(118, 118, 118);
		$grey: rgb(198, 201, 202);
		$silver: rgb(240, 240, 240);
		$cloud: rgb(246, 246, 246);

	// Vibrants
		$turquoise: rgb(42, 210, 201);
		$orange: rgb(255, 141, 109);
		$purple: rgb(97, 71, 103);


	// Application Status
		$red: rgb(255, 69, 79);
		$yellow: rgb(255, 208, 66);

// Text (Light)
$light-text-hover: rgb(0, 0, 0);
$light-text-primary: rgb(51, 51, 51);
$light-text-secondary: rgb(102, 102, 102);
$light-text-disabled: rgb(204, 204, 204);

// Text (Dark)
$dark-text-hover: rgb(255, 255, 255);
$dark-text-primary: rgb(219, 219, 219);
$dark-text-secondary: rgb(153, 153, 153);
$dark-text-disabled: rgb(89, 89, 89);
